spring:
  application:
    name: VisionIdBackend
  datasource:
    url: jdbc:mysql://localhost:3306/attendancedb
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
#  sql:
#    init:
#      mode: always
